body{
    margin: 0;
    width: 100%;
    
  }

@font-face {
    font-family: 'nasa';
    src: url('nasa-webfont.woff2') format('woff2'),
         url('nasa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  /* -------------------------------------Navigation Bar line---------------------------*/
  .nasa-logo {
    width:115px;
    height:65px;
  }
  #navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: none;
      position: fixed;
      z-index: 10;
      height: 10%;
      font-family: "Orbitron";
      transition-duration: 0.300s;
      opacity: 75%;
  
    }
    #navbar:hover {
      color:cadetblue;
      height: 12.3%;
      opacity: 100%;
    }
    .logo {
      font-size: 30px;
      font-weight: bold;
      color: white;
      letter-spacing: 1.5px;
      cursor: pointer;
      padding-left: 10px;
  
    }
    .logo:hover {
      color:cadetblue;
    }
    .nav-bar li {
      display: inline-block;
      list-style: none;
      padding: 0px 15px;
      font-family: 'Roboto Condensed', sans-serif,bold;
    }
    li a {
      font-size: 20px;
      font-weight: 500;
      color: white;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      position: relative;
     
    }
    li a::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0087ca;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    li a:hover::after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    li a:hover {
      font-style: italic;
    }
  
    .hamburger {
      display: none;
    }
   
   

   /*--------------------------------Home Page--------------------------------------------------*/
   .intro {
    background-image: url('images/rocket.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      color:white;
      height:800px;
  }     
  .intro-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:10%;
    padding-top:30%;
    padding-bottom:0%;
    font-size:60px;
  }
  .intro-button {

      background: none;
      opacity: 95%;
      font-size: 20px;
      font-family: 'Sono';
      cursor: pointer;
      color:white;
      border:solid white 1px;
      margin-left:10%;      
  }
      

  /* -------------------------------------Mission Page CSS Elements---------------------------*/

  .missionBackground {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a8/NASA-Apollo8-Dec24-Earthrise.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    margin-top: 6%;
    padding-bottom: 30%;
    z-index: -1;

  }
  .missionHeader {
    background-color: #0087ca;
    position: absolute;
    margin-top: 6%;
    padding-right: 20%;
    padding-bottom: 0;

  }

  .missionText {
    color: white
  }

  